vendor/
src/
.vscode/
src/
.phpunit*
phpunit*
composer*
.jshintrc
node_modules/
node_modules/.bin/*
View/email/csv-field.php
manymailerplus/View/sidebar_view.php
ext.manymailerplus.php
libraries/ext.manymailerplus.php
libraries/serialized_email_cache.txt

*webpack*
.bashrc
phpcs.phar 
phpcbf.phar 
dist/bundle.js
patch.diff
phpcbf.phar
phpcs.phar