
vendor/
.history/
# .vscode/
.nyc_output/
coverage/
src/
tests/
node_modules/

*phpunit*
*phar*
composer*
*.diff
*package*
*webpack*
*.code-workspace

.babelrc
.bashrc
.jshintrc


View/email/csv-field.php
View/sidebar_view.php
libraries/serialized_email_cache.txt
allure-results
autoload.php
dist/bundle.js
